RACK-Ontology/scripts/.project
.pydevproject
*.py[cod]

# act
.secrets

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
include
.Python

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.sadl.metrics.owl

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

_darcs
.boring
*~

doc/internal

.cmd_history

# IntelliJ IDEA
.idea

TODO.org
/.metadata/
debug.log
*.swp
