colorama~=0.4.4
lxml
rdflib==6.2.0
rope~=0.18.0
ScrapingToolKit @ git+https://github.com/ge-high-assurance/RACK.git@vr/ScrapingToolKit#egg=ScrapingToolKit&subdirectory=ScrapingToolKit
typing-extensions 
