
/* style for sidebar */
div.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
}

/* style for button */
button {
    font-size: 16px;
    width:200px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    height:25px;
    border-radius: 5px;
    padding:0px;
    background-color: powderblue;
    border: none;
}

/* style for scrolling status area */
div.scrollarea {
    margin-top: 100px;
    white-space: pre-wrap;
    border-style: none;
    height: 500px;
    width: 1200px; overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
