[Unit]
Description=RACK UI
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/RACK/rack-ui
ExecStart=/usr/bin/python3 app.py
TimeoutStopSec=20
KillMode=process
User=rackui
Restart=on-failure

[Install]
WantedBy=multi-user.target