# Builds rack-box docker image (reusable workflow)

on:
  workflow_call:
    inputs:
      push:
        required: false
        default: true
        type: boolean
      version:
        required: false
        default: 'dev'
        type: string

jobs:

# build-docker-image job:
#  - Downloads rack-box files from artifacts
#  - Builds rack-box docker image
#  - Pushes docker image to Docker Hub

  build-docker-image:
    runs-on: ubuntu-22.04
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}

    strategy:
      matrix:
        include:
          - arch: aarch64
            distro: ubuntu22.04
            ubuntu-arch: linux/amd64
          - arch: armv7
            distro: ubuntu22.04
            ubuntu-arch: linux/arm64/v8

    steps:
    - name: Check out RACK source
      uses: actions/checkout@v3
      with:
        repository: ge-high-assurance/RACK
        path: RACK

    - name: Download rack-box files from artifacts
      uses: actions/download-artifact@v3
      with:
        name: rack-box-files
        path: RACK/rack-box/files

    - name: Build rack-box docker image
      uses: uraimo/run-on-arch-action@v2
      with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          run: |
            cd RACK/rack-box
            packer build -var version=${{ inputs.version }} -var arch=${{ matrix.ubuntu-arch }} rack-box-docker.json

    - name: Login to Docker Hub
      if: inputs.push == true
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push rack-box docker image to Docker Hub
      if: inputs.push == true
      run: docker push gehighassurance/rack-box:${{ inputs.version }}

    - name: Update description of rack-box docker image
      if: inputs.push == true
      uses: peter-evans/dockerhub-description@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: gehighassurance/rack-box
        readme-filepath: RACK/rack-box/Docker-Hub-README.md
