# Builds rack-box virtual machine (reusable workflow)

on:
  workflow_call:
    inputs:
      version:
        required: false
        default: 'dev'
        type: string

jobs:

# build-virtual-machine job:
#  - Downloads rack-box files from artifacts
#  - Builds rack-box virtual machine
#  - Uploads virtual machine to artifacts or release

  build-virtual-machine:
    runs-on: macos-12

    steps:
    - name: Check out RACK source
      uses: actions/checkout@v3
      with:
        repository: ge-high-assurance/RACK
        path: RACK

    - name: Download rack-box files from artifacts
      uses: actions/download-artifact@v3
      with:
        name: rack-box-files
        path: RACK/rack-box/files

    - name: Download base box for virtual machine
      run: |
        curl -LOSfs https://app.vagrantup.com/ubuntu/boxes/jammy64/versions/20230302.0.0/providers/virtualbox.box
        mkdir -p RACK/rack-box/jammy64
        tar -xf virtualbox.box -C RACK/rack-box/jammy64
        rm -f virtualbox.box

    - name: Build rack-box virtual machine
      run: |
        cd RACK/rack-box
        packer build -var headless=true -var version=${{ inputs.version }} rack-box-virtualbox.json

    - name: Split rack-box virtual machine
      run: |
        cd RACK/rack-box
        mv output-virtualbox-ovf rack-box-${{ inputs.version }}
        zip -r rack-box-${{ inputs.version }}.zip rack-box-${{ inputs.version }}
        split -b 1500m rack-box-${{ inputs.version }}.zip rack-box-${{ inputs.version }}.zip
        rm rack-box-${{ inputs.version }}.zip

    - name: Upload virtual machine to artifacts
      uses: actions/upload-artifact@v3
      if: github.event_name != 'release'
      with:
        name: rack-box-${{ inputs.version }}
        path: |
          RACK/rack-box/GitHub-Release-README.md
          RACK/rack-box/rack-box-${{ inputs.version }}.zip*

    # softprops/action-gh-release has many issues and PRs filed
    # against it; replace it with "gh release upload" if CI fails
    # run: gh release upload ${{ github.event.release.tag_name }} RACK/rack-box/GitHub-Release-README.md RACK/rack-box/rack-box-${{ inputs.version }}.zip* --clobber

    - name: Upload virtual machine to release
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'release'
      with:
        files: |
          RACK/rack-box/GitHub-Release-README.md
          RACK/rack-box/rack-box-${{ inputs.version }}.zip*
