# Runs after a RACK release is published

name: RACK Release Workflow
on:
  release:
    types: [ published ]

jobs:

# assemble-files job:
#  - Assembles files for rack-box builds

  assemble-files:
    uses: ./.github/workflows/assemble-files.yml

# build-docker-image job:
#  - Builds rack-box docker image
#  - Pushes docker image to Docker Hub

  build-docker-image:
    needs: assemble-files
    uses: ./.github/workflows/build-docker-image.yml
    secrets: inherit
    with:
      push: true
      version: ${{ github.event.release.tag_name }}

# build-virtual-machine job:
#  - Builds rack-box virtual machine
#  - Uploads virtual machine to release

  build-virtual-machine:
    needs: assemble-files
    uses: ./.github/workflows/build-virtual-machine.yml
    secrets: inherit
    with:
      version: ${{ github.event.release.tag_name }}
